/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-create-block-casino-rating{
	.casino{
		margin-bottom: calc(var(--go--spacing--vertical) * 1.5);
		&:last-of-type{
			margin-bottom: 0;
		}
        &__inner{
            display: flex;
		    flex-flow: row nowrap;
        }
		.casino_image{
			flex: 1 0 36%;
			padding-right: 1.5rem;
			display: flex;
			align-items: center;
			figure{
				margin: 0;
				img{
					max-height: 80px;
					width: auto;
				}
			}
		}
		.casino_info{
			flex: 1 1 74%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
            align-items: center;

		}
		&__description{
			margin: var(--go--spacing--vertical) 0;
			flex: 1 1 100%;
		} 
	}
	.casino_name{
		margin: 0;
		font-size: var(--go--type-scale-0);
		font-weight: bold;
		margin-right: 1.5rem;
        word-break: break-all;
		a{
            color: var(--go-navigation--color--text, #484a47);
			text-decoration: none;
            &:hover, &:focus{
                color: var(--go--color--primary, #fd2749);
            }
		}
	}
	.casino_ratiing_cnt{
		align-self: center;
        position: relative;
		margin: 0; 
        width: 80px;
        height: 80px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        .counter{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-image: linear-gradient(180deg,#fd2749,#e7fa58);
            background-repeat: repeat-x;
            color: #00f3b1;
            font-size: 1.5rem;
            text-align: center;
            line-height: 80px;
            display: block;
            font-weight: bold;
            user-select: none;
        }
	}
}
.wp-block-create-block-casino-rating .casino:first-child .casino_ratiing_cnt{
    margin-top: 0;
}
.wp-block-create-block-casino-rating .casino:last-child .casino_ratiing_cnt{
    margin-bottom: 0;
}
.rating{
    width: inherit;
    height: inherit;
    transform: rotate(-90deg);
    .rating__bg{
        stroke-dashoffset: 0;
        stroke: white;
        stroke-width: 0.75rem;
    }
    .rating__bar{
        stroke: #fd2749;
        transition: stroke-dashoffset 1.7s linear;
        stroke-width: 0.9rem;
    }
}

@media only screen and (max-width: 959px) {
	.wp-block-create-block-casino-rating{
		.casino{
			margin-bottom: calc(var(--go--spacing--vertical) * 2);
		}
		.casino_name{
			font-size: var(--go--type-scale-3);
            word-break: break-word;
		}
        .casino_ratiing_cnt{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
	}
}